.one-Header,
.two-Header,
.three-Header,
.four-Header {
  color: White;
  text-align: left;
  justify-content: center;

  text-decoration-line: underline;
  text-decoration-style: double;

  text-decoration-color: orange;

  margin: 45px;
}
.references-Header {
  width: 50%;
  transform: translateX(92.5%);
}
.one-P,
.two-P,
.three-P {
  color: white;

  width: 75%;
  position: relative;

  left: 15%;

  text-align: justify;
}
