.blogs-Header {
  color: White;
  text-align: left;
  justify-content: center;

  text-decoration-line: underline;
  text-decoration-style: double;

  text-decoration-color: orange;

  margin: 25px;
}
.blogs-Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 25px;

  color: white;

  margin: 25px;
}
.card {
  width: 85%;
  height: 65%;
  padding: 15px;
  margin: 15px;
}
.Card {
  margin: 5px;
  padding: 15px;

  background-color: orange;
  border-radius: 8px;
}
.Card p {
  color: white;
  text-align: justify;
  justify-content: center;
}
.Card .innerSection {
  margin: 5px;
  padding: 25px;
  background-color: black;
  border-radius: 8px;

  position: relative;
  z-index: 2;
}
h2 {
  color: sienna;
  font-size: 22.5px;
}
.blogsSvg {
  margin: 25px;
  transform: translateX(125%);
}
.cardSvg {
  transform: translateX(10.5%);
}
@keyframes svg-Anim {
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  75% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 1780px) {
  .blogsSvg {
    transform: translateX(140%);
  }
}
@media screen and (max-width: 1400px) {
  .blogsSvg {
    transform: translateX(85%);
  }
}
@media screen and (max-width: 580px) {
  .blogsSvg {
    transform: translateX(12.5%);
    height: 45px;
  }
}
@media screen and (max-width: 445px) {
  .blogsSvg {
    transform: translateX(-15.8%);
    height: 35px;
  }
}
.blogsSvg path {
  stroke-dasharray: 105px;
  stroke-dashoffset: 85px;

  animation: line-anim 5s ease forwards;
}
.Card a {
  text-decoration: wavy;
  background-color: teal;
  padding: 5px;
  border-radius: 8px;
  color: brown;
}
.card-Image {
  position: absolute;
  z-index: 0;
  width: 34vh;
  height: 58vh;

  transform: translate(-6%, 10%);
}
@media screen and (max-width: 1356px) {
  .card-Image {
    width: 43.5vh;
    height: 72vh;
  }
}
@media screen and (max-width: 467px) {
  .cardSvg {
    transform: translateX(32.5%);
  }
  .card-Image {
    width: 57.2vh;
    transform: translate(-14.5px, 38px);
    height: 50vh;
  }
}
