.footer-Patterns {
  background-color: orange;
  transform: translateY(100%);
}

@media screen and (max-width: 475px) {
  .footer-Patterns {
    transform: translateY(0);
  }
}
.newSvg {
  width: 100%;
  transform: translateX(45%);
}
