.home-Header {
  color: white;
  text-align: center;
  justify-content: center;

  transform: translateY(35%);
}
.home-P {
  position: relative;
  text-align: justify;
  justify-content: justify;
  width: 50%;
  left: 50%;
  color: white;

  transform: translate(-45%, 125%);
}
@media screen and (max-width: 473px) {
  .home-P {
    transform: translateY(2.5%);
  }
}

.readMore-Button {
  position: fixed;
  bottom: 20%;
  left: 45%;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  background-color: Brown;
}
.internetArtSvg {
  width: 25%;
  transform: translate(155%, -185%);
}
.internetArtSvg path {
  stroke-dasharray: 145px;
  stroke-dashoffset: 85px;

  animation: line-anim 5s ease forwards;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
