.Navigation {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}
.Navigation .main-Nav {
  height: 100%;
  width: 0;
}
#menu #open {
  width: 250px;
  background-color: orange;
}
#menu #open {
  background-color: orange;
}
.Navigation #open {
  background-color: orange;
  margin-left: 250px;
  transition: 0.7s;
}
.Navigation #closed {
  margin-left: 0px;
  transition: 0.7s;
}
#menu #closed {
  width: 0;
}
.slide #open {
  height: 100%;
  width: 0;

  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;

  padding-top: 60px;
  transition: 0.7s;
}
.list-Item {
  padding-left: 25px;

  text-decoration: none;
}
.list-Item #open {
  display: block;
}
.Hamburger {
  transform: translate(45%, 65%);
}
body {
  background-color: orange;
}
