.Navigation {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;

  justify-content: center;
  text-align: center;

  transform: translateX(15%);
}
.Navigation .main-Nav {
  height: 100%;
  width: 0;
}
.list-Item {
  padding-left: 25px;

  text-decoration: none;
  color: white;
}
.list-Item #open {
  display: block;
}
.Hamburger {
  transform: translate(1300%, 65%);
  color: white;
}
body {
  background-color: black;
}
